/* =========================================
   UI Elements
   ========================================= */

/* Notes */
.note {
  border: 1px solid;
  border-radius: 0.375rem;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  padding-left: 0.875rem;
  padding-right: 0.875rem;
  font-size: 0.875rem;
  letter-spacing: 0.025em;
}

.note-title {
  font-weight: 600;
  margin-bottom: -0.75rem;
}

/* Note types */
.note-default {
  background-color: hsl(0, 0%, 95%);
  border-color: hsl(0, 0%, 85%);
}

.dark .note-default {
  background-color: hsl(0, 0%, 10%);
  border-color: hsl(0, 0%, 15%);
}

.note-danger {
  background-color: hsl(0, 100%, 95%);
  border-color: hsl(0, 100%, 90%);
}

.dark .note-danger {
  background-color: hsl(0, 80%, 10%);
  border-color: hsl(0, 80%, 20%);
}

.note-warning {
  background-color: hsl(30, 100%, 95%);
  border-color: hsl(30, 100%, 90%);
}

.dark .note-warning {
  background-color: hsl(30, 80%, 10%);
  border-color: hsl(30, 80%, 20%);
}

.note-success {
  background-color: hsl(120, 100%, 95%);
  border-color: hsl(120, 100%, 90%);
}

.dark .note-success {
  background-color: hsl(120, 80%, 10%);
  border-color: hsl(120, 80%, 20%);
}